body    {
    font-family:Roboto;
}
.container{
    max-width: 1280px;
    margin: 0 auto;  
    
}
a{
    text-decoration: none;
}
.header{
    margin-top: 63px;
    margin-bottom: 48px;
}
.header h1{
font-size: 80px; 
margin-bottom: 38px;

}
.span{
    color: #4BCAFF;
}

 .nav-menu {
    display: flex;    
 background-color: #35444F;
 justify-content: center;
 align-items: center;
 width: 1279.999px;
height: 69px; 
font-size: 24px;

} 
.nav-menu a{
    color: #FFFFFF;
    border-left: 1px solid #90979c;
    border-right: 1px solid #90979c;
    padding: 20px 38px;
    
   }

 .nav-menu a:hover{
    background-color: black;
}

.aside-menu{
    display: flex;
 flex-direction: column;
 justify-content: space-evenly;    
    width: 300px;
    height: 399px; 
    font-size: 27px;
    border: 1px solid #bfbfbf;
    padding-left: 44px;
    margin-right: 52px;
    
}
.aside-menu a{
   color: #495863;
  
}
.aside-menu a:hover{
    font-weight: 700;
    color: black;
}

.border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px; 
    border: 1px solid #bfbfbf; 
    margin-bottom: 37px;   
    
}
.border img:hover{
    transform: scale(1.3);
}

p{
    width: 885px; 
    color: #2C2C2C; 
    font-size: 18px; 
    line-height: 24px;
    margin-bottom: 13px;
    
}
.footer{
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    align-items: center;
    justify-content: space-evenly;
    width: 1280px;
    height: 69px; 
    font-size: 28px;
    margin-bottom: 30px;
}

.footer a{
   color: #0C1927;
    
}
.footer a:hover{
    font-weight: 700;
    color: #3181A6;
}

.footer .Copyright {
margin-left: 95px;
}
